* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arimo', Arial, Helvetica, sans-serif; 
    background-color: #181818;   
}


.container {
    margin: 0 auto;
    max-width: 1090px;
}


/* ======== header ======== */



.header-nav {
    padding: 33px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.nav-menu__link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}

.nav-menu__link:hover {
    text-decoration: underline;
}

.nav-menu__link +.nav-menu__link {
    margin-left: 51px;
}

.header-nav__btn {
    display: flex;
    align-items: center;
}

.login-btn {
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    color: #fff;
    padding: 13px 46px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
}

.login-btn:active {    
    border: 1px solid #4452FE;
    background: #4452FE;
}

.burger {
    margin-left: 28px;
    display: none;
}

.header-inner {
    text-align: center;
    padding: 50px 0;
}

.header-inner-title {
    max-width: 734px;
    margin: 0 auto;
    padding: 10px;
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    color: #fff;
    margin-bottom: 17px;
}

.subtitle {
    max-width: 52%;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.header-inner-btns {
    max-width: 390px;
    margin: 0 auto;
    padding: 35px 0;
    display: flex;    
    justify-content: space-between;   
}

.header-inner-btn {
    padding: 20px 40px;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    background: transparent;
    cursor: pointer;
}

.header-inner-btn:active {
    background: #4452FE;
    border: 1px solid #4452FE;
}

.header-screens {
    margin: 0 auto;    
    padding-bottom: 152px;  
    position: relative;
}

.header-screens-img {
    width: 100%; 
    padding: 0;
    margin: 0;   
}

.header-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 67%;
    width: 100%;    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
}


@media (max-width: 992px) {
    .nav-menu__link +.nav-menu__link {
        margin-left: 20px;
    }
}


@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .burger {
        display: block;
    }

    .header-screens {
        padding-bottom: 10px;
    }
    
}

@media (max-width: 576px) {
    .header-nav {
        justify-content: center;
    }

    .header-inner-title {
        max-width: 385px;
        font-size: 52px;
        font-weight: 400;
        line-height: 62px;
    }    

    .header-inner-btns {
        max-width: 181px;
        flex-direction: column;
        justify-content: center;
    }

    .header-inner-btn {
        margin-bottom: 21px;
    }    
}


/* ======= features ======= */


.features {
    padding: 162px 0;
    text-align: center;
}

.title {
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    color: #fff;
    margin-bottom: 27px;
}

.features-title {
    text-transform: uppercase;
}

.feateres-subtitle {
    margin-bottom: 80px;
}

.features-contetnt {
    display: flex;  
    justify-content: center;    
}

.features-content__img {
    position: relative;        
}

.img-chat-bot {      
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
}

.img-line-chart {
    position: absolute;
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
    bottom: -60px;
    left: 43%;
}

.features-content__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.feature-card {
    width: 255px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin-left: 30px;
    margin-bottom: 20px;
}

.features-card-title {
    display: flex; 
    align-items: flex-start;       
}

.features-card-title__img {
    padding-top: 20px;
}

.feature-card-title__title {
    max-width: 176px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.feature-card-text {
    padding: 10px;
    text-align: left;
}

@media (max-width: 992px) {
    .features-contetnt {
        flex-wrap: wrap;
    }

    .features-content__img {
        margin-bottom: 100px;
    }

    .features-content__cards {
        align-items: flex-start;
    }

    .img-line-chart {
        left: 20%;
    }
}

@media (max-width: 768px) {
    .features {
        padding: 50px 0;
    }

    .features-content__cards {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .feateres-subtitle {
        margin-bottom: 30px;
    }

    .img-chat-bot {
        width: 90%;
    }

    .img-line-chart {
        width: 50%;
        left: 25%;
    }
}


/* ======== contents ======== */


.contents {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.contents-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

.contents-card {
    max-width: 476px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;    
}

.contents-card-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
}

.contents-card-subtitle {
    max-width: 274px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #5C5C5C;
    padding: 10px;
}

.contents-btn {
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    background-color: #fff;
    outline: none;
    border: 1px solid #000;
    padding: 13px 46px;
    margin: 57px 0;
}

.contents-btn:active {
    background-color: #4452FE;
    border: 1px solid #4452FE;
    color: #fff;
}

.contents-card-img__img {
    width: 100%;        
}

.img-board {
    /* убираем непонятные отступы у второй картинки */
    margin-top: -24px;
    margin-bottom: -37px;
}


@media (max-width: 992px) {
    .contents-card {
        margin-bottom: 31px;
    }
}

@media (max-width: 768px) {
    .contents-cards {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .contents {
        padding: 20px 0;
    }

    .contents-card {
        max-width: 90%;
    }
}



/* ======= gallery ======= */


.gallery {
    padding: 50px 0;
    text-align: center;
    margin-bottom: 100px;
}

.gallery-images {    
    padding: 44px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    column-gap: 33px;
    row-gap: 44px;   
}

.gallery-item {
    max-width: 225px;
    height: 285px;    
}

.gallery-item-img {
    width: 100%;
    border-radius: 12px;
}

.item-5, .item-7 {
    max-width: 395px;
}

.item-8, .item-9, .item-10, .item-11 {
    display: none;
}

.gallery-btn {
    padding: 13px 40px;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
}

.gallery-btn:active {
    border: 1px solid #4452FE;
    background-color: #4452FE;
}

@media (max-width: 576px) {
    .gallery {
        padding: 20px 0;                
    }

    .gallery-images {
        padding: 20px 0;
        row-gap: 10px;        
    }

    .gallery-item {
        max-width: 305px;
    }    

    .item-8, .item-9, .item-10, .item-11 {
        display: block;
    }

    .item-1, .item-2, .item-3, .item-4,
    .item-5, .item-6, .item-7 {
        display: none;
    }
} 


/* ======= partners ======== */


.partners {
    padding: 50px 0;
    text-align: center;
    margin-bottom: 100px;
}

.partners-icon-list {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    column-gap: 74px;
    max-width: 832px;   
    margin: 0 auto;    
}

.partners-icon-list__item {
    display: flex;
    justify-content: space-between;
    flex: auto;    
}


.partners-btn {
    padding: 13px 40px;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
}

.partners-btn:active {
    border: 1px solid #4452FE;
    background-color: #4452FE;
}

@media (max-width: 768px) {
    .partners-icon-list {
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
    .partners-icon-list__item {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .partners-icon-list {
        width: 80%;
        margin: 0 auto;
    }
    .partners-icon-list__item {        
        justify-content: space-evenly;
    }
}



/* ======== testimonials ======== */

.testimonials {
    padding: 50px 0;
    text-align: center;
    margin-bottom: 100px;
}

.testimonials-title {
    font-family: 'Roboto', sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 57px;
    color: #fff;
    margin-bottom: 50px;
}

.testimonials-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 23px;    
}

.testimonials-card {
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 80px; 
    max-width: 430px; 
    margin-bottom: 20px;  
}

.testimonials-card__header {
    display: flex;
    margin-bottom: 31px;    
}

.testimonials-card__header-img {
    margin-right: 13px;
}

.testimonials-card__header-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    text-align: left;
}

.testimonials-card-testimonial {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-align: left;
}

.small-list {
    display: none;
}

@media (max-width: 576px) {
    .testimonials-list {
        padding: 0 10px;
    }
    .testimonials-card {
        border: 1px solid #565656;
        border-radius: 10px;
        padding-top: 40px;
        padding-left: 40px;
        padding-bottom: 40px;
        padding-right: 75px; 
        max-width: 352px; 
        margin-bottom: 23px;          
    }

    .big-list {
        display: none;
    }

    .small-list {
        display: flex;
    }
}


/* ======= opentype ======== */


.opentype {
    padding: 80px 0;
    margin-bottom: 100px;
}

.opentype-block {
    display: flex;
    justify-content: center;
    align-items: center;    
    max-width: 1219px;
    margin: 0 auto;
    background-color: #343434;
    border-radius: 33px;
}

.opentype-block-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;      
}

.open-block-item__title {
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
    color: #fff;
    max-width: 481px;
    margin: 0 auto;
    margin-bottom: 37px;
}

.opentype-btn {
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    background-color: transparent;
    outline: none;
    border: 1px solid #000;
    padding: 13px 67px;
    max-width: 235px;
        
}

.opentype-btn:active {
    background-color: #4452FE;
    border: 1px solid #4452FE;
    color: #fff;
}

.opentype-block-item__img {
    width: 100%;
    border-bottom-right-radius: 33px;
}

.opentype-block-item__img:last-of-type {
    display: none;
}

@media (max-width: 992px) {
    .opentype-block {
        flex-direction: column;
        background-color: #1e1e1e;
        border-radius: 0;
    }

    .opentype-block-item {
        width: 100%;
        padding-top: 104px;
        justify-content: center;
    }

    .open-block-item__title {
        padding: 0 50px;
        text-align: center;
    }

    .opentype-block-item__img {
        width: 100%;
        border-radius: 0;
    }
}

@media (max-width: 768px) {
    .opentype-block-item__img {
        display: none;        
    }
    .opentype-block-item__img:last-of-type {
        display: block;
    }
}


/* ======= footer ======= */


.footer {
    padding: 107px 0;
}

.footer-block {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;    
}

.footer-item {
    margin-right: 75px;
}

.footer-item__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    margin-bottom: 40px;
}

.footer-item__list {
    list-style: none;
}

.footer-item__list-elem {
    margin-bottom: 19px;
}

.footer-item__list-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}

.footer-item__list-link:hover {
    text-decoration: underline;
}

.footer-contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.footer-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-left: 18px;    
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-social-link {
    text-decoration: none;
    margin-right: 33px;
    opacity: 0.7;
}

.footer-social-link:hover {
    opacity: 1;
}

@media (max-width: 992px) {
    .footer-block {
        flex-direction: column;
        align-items: center;
    }

    .footer-item {
        margin-bottom: 75px;
    }
}

@media (max-width: 576px) {
    .footer-block {
        align-items: flex-start;
        padding-left: 80px;
    }

    .footer-list {
        flex-direction: column;
    }
}